.navbar {
  background-color: #ffcc00;
  text-align: center;
  height: 50px;
  .navbar-nav .nav-item {
    text-shadow: 1px 1px;
    margin: 16px;
    letter-spacing: 3px;
    &:hover{
      background-color: white;
      height: 50px;
    }
    &.active-nav {
      background-color: white;
      height: 50px;
    }
    a {
      color: black;
      font-style: italic;
    }
  }
}

.navbar-toggler{
  outline: none;
}
.fa-bars{
    color: white;
}

@media(max-width: 720px){
  .active-nav{
    height: auto;
  }
  .navbar{
    height: auto;
    .navbar-nav{
    }
  }
}