<div class="footer">
    <div class="row">
        <div class="col-md-4 col-lg-3 mx-auto col-sm-12">
            <ul >
                <li class="main-link">
                   Get To Know Us
                    <div class="borders"></div>
                </li>
                <li>About Us</li>
                <li>Contact Us</li>
                <li>Our Locations</li>
                <li>FAQ's</li>
            </ul>
        </div>
        <div class="col-md-4 col-lg-3 mx-auto col-sm-12">
            <ul>
                <li class="main-link">
                    Make Money
                    <div class="borders"></div>
                </li>
                <li>Sell with Us</li>
                <li>Condition of Sale</li>
                <li>Refund Policy</li>
                <li>Terms & Conditions</li>
            </ul>
        </div>
    </div>
</div>